@import "./mixin";
.main-hero-container {
  @include bg-center;
  z-index: 1;
  position: relative;
  padding: 6rem 0;

  .main-hero-content {
    @include center-display;
    padding: 6rem 0.5rem;

    .mhc-article {
      text-align: center;

      .underline {
        @include underline;
      }
    }
  }
}
