@import "./mixin";
@import "./global";

.card {
  @include flex-column;
  height: 100%;

  .action {
    @include flex-row;
    justify-content: $right;
  }
}

.planet-card {
  width: 300px;
}

.planet-media {
  height: 300px !important;
  padding-top: 50.25%; // 16:9, 56.25
  margin-top: 30;
}
