@import "./mixin";
@import "./global";

.card {
  @include flex-column;
  height: 100%;

  .card-media {
    height: 0;
    padding-top: 80.25%; // 16:9, 56.25
    margin-top: 30;
  }

  .action {
    @include flex-row;
    justify-content: $right;

    // .button {
    //   background-color: black;
    // }
  }
}
