@import "./mixin";
@import "./global";

.people-container {
  border: 2px solid red;

  .people-card {
    @include flex-row;
    // justify-content: $equal-spacing;
  }

  .people-card-media {
    height: 0;
    padding-top: 56.25%; // 16:9, 56.25
    margin-top: 30;
  }
}

.person-details {
  display: flex;
  flex-direction: column;
}

.person-content {
  flex: 1 0 auto;
}

.cover {
  display: flex;
  // padding-top: 56.25%;
  align-items: center;
  // left and bottom is what bring the image to the left side
  //toggle to see difference
  padding-left: 15rem;
  padding-bottom: 40px;
}

.person-info {
  padding: 2rem 0;
  font-size: $small-font-size !important;
}

.person-name {
  font-size: $normal-font-size !important;
  font-weight: 700 !important;
}

.person-subinfo {
  font: {
    size: $small-font-size !important;
  }
}

// .people-grid {
//   margin: 12rem 0;
// }

//  <CardMedia
//         className="people-card-media"
//         image="https://source.unsplash.com/random"
//       />
