@import "./mixin";

.post-container {
  margin-top: 5rem;
  @include flex-column;
  align-items: center;
  justify-content: center;
}

.card {
  @include flex-column;
  width: 300px;
  height: 100%;
}

.planet-media {
  height: 100px;
  padding-top: 80.25%; // 16:9, 56.25
  margin-top: 30;
}
