@import "./mixin";

.starship-container {
  padding-top: 2rem;

  .btn-holder {
    @include more-btn-container;

    .more-btn {
      @include more-btn;
    }
  }
}

.card {
  @include flex-column;
  height: 100%;

  .action {
    @include flex-row;
    justify-content: $right;
  }
}

.root {
  max-width: 345;
}

.ship-media {
  height: 100px;
  padding-top: 80.25%; // 16:9, 56.25
  margin-top: 30;
}
